# Gravitee License (base64-encoded)
GRAVITEE_LICENSE=PUT_YOUR_BASE64_LICENSE_HERE

# Gravitee APIM
APIM_REGISTRY=graviteeio
APIM_VERSION=4.10.6
APIM_VERSION_GATEWAY=4.10.6-debian

# Databases
MONGODB_VERSION=8.0.18
ELASTIC_VERSION=9.2.5

# LLM Model (served by local Ollama)
LLM_MODEL=qwen3:0.6b
